<input type="hidden" name="times" id="times" value=""></input>

<div id="answer" hx-swap="innerHTML" hx-swap-oob="true"> 
    {{answer}} 
    {% if all_responses %}
        <h3>Recent Responses</h3>
        <table border="1" cellpadding="8" cellspacing="0" style="border-collapse: collapse;">
            <thead>
                <tr style="background-color: #f0f0f0;">
                    <th>Test Time</th>
                    <th>Button 1</th>
                    <th>Latency 1</th>
                    <th>Button 2</th>
                    <th>Latency 2</th>
                    <th>Button 3</th>
                    <th>Latency 3</th>
                </tr>
            </thead>
            <tbody>
                {% for resp in all_responses %}
                <tr>
                    <td>{{ resp.timestamp|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ resp.button1|default:"-" }}</td>
                    <td>{{ resp.latency1|floatformat:3 }} sec</td>
                    <td>{{ resp.button2|default:"-" }}</td>
                    <td>{{ resp.latency2|floatformat:3 }} sec</td>
                    <td>{{ resp.button3|default:"-" }}</td>
                    <td>{{ resp.latency3|floatformat:3 }} sec</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>